html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #565656;
}

#map-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.cell {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 15px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
    max-height: 580px;
}

.location {
    margin: 10px 0;
}

#buttons {
    margin-top: 20px;
}

#search {
    width: 200px;
}

#toolbar {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    max-width: 550px;
    width: 95%;
    display: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
}

#toolbar .btn {
    width: 150px;
    margin: 0 10px;
}

#toolbar .btn i {
    margin-right: 10px;
}

.btn-tweet {
    background-color: #55acee;
    color: #fff;
}

.btn-fb {
    background-color: #3a5795;
    color: #fff;
}

#copy {
    position: absolute;
    bottom: 10px;
    padding: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
}