html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #565656;
}

#map-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.cell {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
    max-height: 580px;
}

.location {
    margin: 10px 0;
}

#buttons {
    margin-top: 20px;
}

#search {
    width: 200px;
}

.btn-tweet {
    background-color: #55acee;
    color: #fff;
}

.btn-fb {
    background-color: #3a5795;
    color: #fff;
}

#toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    padding: 10px;
    display: none;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
}

.btn-overlay {
    margin-bottom: 3px;
}

#toolbar .btn {
    width: 40px;
}

.caption-overlay {
    display: none;
}

@media (min-width: 768px) {

    #toolbar {
        left: 0;
        right: 0;
        margin: auto;
        max-width: 550px;
        width: 95%;
    }

    .btn-overlay {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
        margin-bottom: 0px;
        margin-right: 10px;
    }

    #toolbar .btn {
        width: 150px;
        margin: 0 10px;
    }

    #toolbar i {
        margin-right: 10px;
    }

    .caption-overlay {
        display: inline-block;
    }

}